<a href="https://colab.research.google.com/github/xavyeerx/Analiss-Data-dengan-Python/blob/main/Data_Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

customers_df = pd.read_csv("https://raw.githubusercontent.com/dicodingacademy/dicoding_dataset/main/DicodingCollection/customers.csv")
customers_df.head()

# ASSESING DATA
# memeriksa tipe data dari tiap kolom
customers_df.info()
# memerikasa missing value tiap kolom
print()
print("Jumlah Missing Value Tiap Kolom: ", customers_df.isna().sum())
# memeriksa jumlah duplikasi data
print()
print("Jumlah duplikasi: ", customers_df.duplicated().sum())
# menampilkan ringkasan parameter statistik
print()
customers_df.describe()


# CLEANING DATA
# menghapus data duplicate
customers_df.drop_duplicates(inplace=True)
print("Jumlah duplikasi sekarang: ", customers_df.duplicated().sum())
# menangani missing value
customers_df[customers_df.gender.isna()]
customers_df.gender.value_counts()
customers_df.fillna(value="Prefer not to say", inplace=True)
customers_df.isna().sum()
# menangani inaccurate value
customers_df[customers_df.age == customers_df.age.max()]
customers_df.age.replace(customers_df.age.max(), 70, inplace=True)
customers_df[customers_df.age == customers_df.age.max()]
customers_df.age.replace(customers_df.age.max(), 50, inplace=True)
customers_df[customers_df.age == customers_df.age.max()]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    1007 non-null   int64
 1   customer_name  1007 non-null   object
 2   gender         989 non-null    object
 3   age            1007 non-null   int64
 4   home_address   1007 non-null   object
 5   zip_code       1007 non-null   int64
 6   city           1007 non-null   object
 7   state          1007 non-null   object
 8   country        1007 non-null   object
dtypes: int64(3), object(6)
memory usage: 70.9+ KB

Jumlah Missing Value Tiap Kolom:  customer_id       0
customer_name     0
gender           18
age               0
home_address      0
zip_code          0
city              0
state             0
country           0
dtype: int64

Jumlah duplikasi:  6

Jumlah duplikasi sekarang:  0

,customer_id,customer_name,gender,age,home_address,zip_code,city,state,country
34,35,fulan 35,Male,80,3168 Bartoletti CrescentSuite 878,593,Port Lucas,Queensland,Australia
38,39,fulan 39,Prefer not to say,80,7440 Cameron Estate DrSuite 628,4622,North Victoriachester,Northern Territory,Australia
142,143,fulan 143,Prefer not to say,80,87 Hahn Station StSuite 943,8254,New Ella,Victoria,Australia
154,155,fulan 155,Male,80,85 Charles MallSuite 424,7841,Port Sophia,New South Wales,Australia
170,171,fulan 171,Prefer not to say,80,16 Boyer WaySuite 018,6226,South Gabriel,Western Australia,Australia
174,175,fulan 175,Prefer not to say,80,57 David MallSuite 596,3129,Haneton,South Australia,Australia
181,182,fulan 182,Male,80,32 Thomas CrestSuite 753,2147,Archiefurt,Queensland,Australia
235,236,fulan 236,Prefer not to say,80,64 Phillips RunApt. 722,2752,East Sienna,New South Wales,Australia
424,424,fulan 424,Prefer not to say,80,03 Grant CrestSuite 228,5743,Lake Charliemouth,Western Australia,Australia
438,438,fulan 438,Prefer not to say,80,569 Alyssa IslandApt. 766,6893,Hunterland,Western Australia,Australia
495,495,fulan 495,Male,80,1798 Schultz MewsApt. 704,9409,Lake Caitlin,New South Wales,Australia
524,524,fulan 524,Prefer not to say,80,0358 Ashley WayApt. 506,3345,Port Sebastianland,Queensland,Australia
598,597,fulan 597,Prefer not to say,80,78 O'hara CircuitApt. 096,1966,Lake Michaelbury,South Australia,Australia
703,702,fulan 702,Prefer not to say,80,61 Bosco WaySuite 775,685,Thompsonborough,Western Australia,Australia
734,732,fulan 732,Prefer not to say,80,905 Stephanie BoulevardApt. 217,8114,Port Aaronton,Queensland,Australia

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

orders_df = pd.read_csv("https://raw.githubusercontent.com/dicodingacademy/dicoding_dataset/main/DicodingCollection/orders.csv")
orders_df.head()

# ASSESING DATA
# memeriksa tipe data dari tiap kolom
orders_df.info()
# memerikasa missing value tiap kolom
print()
print("Jumlah Missing Value Tiap Kolom: ", orders_df.isna().sum())
# memeriksa jumlah duplikasi data
print()
print("Jumlah Duplikasi: ", orders_df.duplicated().sum())
# menampilkan ringkasan parameter statistik
print()
orders_df.describe()

# CLEANING DATA
# mengganti tipe data
datetime_columns = ["order_date", "delivery_date"]

for column in datetime_columns:
  orders_df[column] = pd.to_datetime(orders_df[column])

orders_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       1000 non-null   int64
 1   customer_id    1000 non-null   int64
 2   payment        1000 non-null   int64
 3   order_date     1000 non-null   object
 4   delivery_date  1000 non-null   object
dtypes: int64(3), object(2)
memory usage: 39.2+ KB

Jumlah Missing Value Tiap Kolom:  order_id         0
customer_id      0
payment          0
order_date       0
delivery_date    0
dtype: int64

Jumlah Duplikasi:  0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       1000 non-null   int64
 1   customer_id    1000 non-null   int64
 2   payment        1000 non-null   int64
 3   order_date     1000 non-null   datetime64[ns]
 4   delivery_date  1000 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(3)
memory usage: 39.2 KB

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


product_df = pd.read_csv("https://raw.githubusercontent.com/dicodingacademy/dicoding_dataset/main/DicodingCollection/products.csv")
product_df.head()

# ASSESING DATA
# memeriksa tipe data dari tiap kolom
product_df.info()
# memerikasa missing value tiap kolom
print()
print("Jumlah Missing Value Tiap Kolom: ", product_df.isna().sum())
# memeriksa jumlah duplikasi data
print()
print("Jumlah Duplikasi: ", product_df.duplicated().sum())
# menampilkan ringkasan parameter statistik
print()
product_df.describe()

# CLEANING DATA
# membuang data duplicate
product_df.drop_duplicates(inplace=True)
print("Jumlah Duplikasi terbaru: ", product_df.duplicated().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1266 entries, 0 to 1265
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    1266 non-null   int64
 1   product_type  1266 non-null   object
 2   product_name  1266 non-null   object
 3   size          1266 non-null   object
 4   colour        1266 non-null   object
 5   price         1266 non-null   int64
 6   quantity      1266 non-null   int64
 7   description   1266 non-null   object
dtypes: int64(3), object(5)
memory usage: 79.2+ KB

Jumlah Missing Value Tiap Kolom:  product_id      0
product_type    0
product_name    0
size            0
colour          0
price           0
quantity        0
description     0
dtype: int64

Jumlah Duplikasi:  6

Jumlah Duplikasi terbaru:  0

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


sales_df = pd.read_csv("https://raw.githubusercontent.com/dicodingacademy/dicoding_dataset/main/DicodingCollection/sales.csv")
sales_df.head()

# ASSESING DATA
# memeriksa tipe data dari tiap kolom
sales_df.info()
# memerikasa missing value tiap kolom
print()
print("Jumlah Missing Value Tiap Kolom: ", sales_df.isna().sum())
# memeriksa jumlah duplikasi data
print()
print("Jumlah Duplikasi: ", sales_df.duplicated().sum())
# menampilkan ringkasan parameter statistik
print()
sales_df.describe()

# CLEANING DATA
# mengisi missiing value
sales_df[sales_df.total_price.isna()]
sales_df["total_price"] = sales_df["price_per_unit"] * sales_df["quantity"]
sales_df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sales_id        5000 non-null   int64
 1   order_id        5000 non-null   int64
 2   product_id      5000 non-null   int64
 3   price_per_unit  5000 non-null   int64
 4   quantity        5000 non-null   int64
 5   total_price     4981 non-null   float64
dtypes: float64(1), int64(5)
memory usage: 234.5 KB

Jumlah Missing Value Tiap Kolom:  sales_id           0
order_id           0
product_id         0
price_per_unit     0
quantity           0
total_price       19
dtype: int64

Jumlah Duplikasi:  0

sales_id          0
order_id          0
product_id        0
price_per_unit    0
quantity          0
total_price       0
dtype: int64